body
{
    margin: 0 auto;
}
header
{
    width: 100%;/*original: 1300*/
    height: 150px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
nav
{
    width: 100%;/*original: 1300*/
    height: 150px;
    background-color: rgb(119, 12, 190);
    color: white;
}
h1
{
    margin:0;
}
aside
{
   width: 38.4615384615%; /*original: 500px, que es un 38% de 1300*/
   padding-left: 1.53846153846%; /*original: 20px, que es un 1.5% de 1300*/
   float: left; 
   background-color: black;
   min-height: 300px;
   overflow: hidden;
   color: rgb(255, 255, 255);
   
}
div{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
article
{
    width: 53.8461538462%; /*original: 700px, que es un 53% de 1300*/
    padding-left: 3.07692307692%; /*original: 40px, que es un 3% de 1300*/
    padding-right: 3.07692307692%; /*original: 40px, que es un 3% de 1300*/
    float: left;
    background-color: rgb(0, 0, 0);
    min-height: 500px;
    padding-top: 50px;
}
footer
{
    clear: left;
    width: 100%; /*original: 1300*/
    height: 150px;
    background-color: rgb(119, 12, 190);
    color: white;
}
#listado{
    background-color: rgb(255, 255, 255);
    color: white;
    font-weight: bold;
    min-height: 200px;
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
}
#contenido
{
    font-size: larger;
    word-spacing: 3px;
    padding-left: 1%;
    border: 1px solid white;
    margin-left: 3.07692307692%;   
    margin-right: 3.07692307692%;  
}
a
{
    color: white;
}

input {
    background-color: rgb(119, 12, 190);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;/*original: 1300*/
  }