html,body
{
    width: 1300px;
    margin: 0 auto;
}
header
{
    width: 1300px;
    height: 150px;
    background-color: lightgreen;
}
nav
{
    width: 1300px;
    height: 150px;
    background-color: lightseagreen;
}
div{
    overflow: hidden;
    background-color: black;
}
h1
{
    margin:0;
}
aside
{
   width: 500px;
   padding-left: 20px;
   float: left; 
   background-color: pink;
   min-height: 300px;
   overflow: hidden;
}
article
{
    width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    background-color: aqua;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer
{
    clear: left;
    width: 1300px;
    height: 150px;
    background-color: lightslategray;
}
#listado{
    background-color: black;
    color: white;
    font-weight: bold;
    min-height: 200px;
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
}
#contenido
{
    font-size: larger;
    word-spacing: 3px;
    padding-left: 1%;
    border: 1px solid white;
    margin-left: 40px;   
    margin-right: 40px;  
}
a
{
    color: white;
}
input
{
    margin-left: 40px;
}